<div class="block md:flex justify-between">
    <div class="hidden md:block text-gray-700 text-sm tracking-tight">
        Display <span class="font-medium">{{pageFromTo.from}}</span> to <span class="font-medium">{{pageFromTo.to}}</span> total of <span class="font-medium">{{total}}</span>
    </div>
    <div class=" cursor-pointer">
        <ul class="hidden md:flex">
            <li class="border border-gray-200 flex items-center  rounded-l-lg border-r-0">
                <span class="py-1.5 px-2.5 inline-block hover:text-gray-700" 
                (click)="onPageIndexChange(pageIndex - 1); $event.preventDefault();"
                [ngClass]="{'pointer-events-none': pageIndex <=1 }"
                >
                    <i class="las la-angle-left"></i>
                </span>
            </li>
            <li  class="bg-indigo-100 border border-gray-500 text-center flex items-center">
                <span class="py-1.5 px-3.5 inline-block text-indigo-500 hover:text-indigo-500 text-sm" routerLink="/blog">{{pageIndex}}</span>
            </li>
            <li class="border border-gray-200 flex items-center rounded-r-lg border-l-0">
                <span class="py-1.5 px-2.5 inline-block hover:text-gray-700"
                (click)="onPageIndexChange(pageIndex + 1); $event.preventDefault();"
                [ngClass]="{'pointer-events-none': pageIndex >= totalPages }"
                >
                    <i class="las la-angle-right"></i>
                </span>
            </li>
        </ul>
    </div>
    <ul class="flex justify-between md:hidden">
        <li class="border border-gray-200 flex items-center rounded-lg cursor-pointer">
            <span class="py-0.5 px-4 inline-block hover:text-gray-700 text-lg" 
            (click)="onPageIndexChange(pageIndex - 1); $event.preventDefault();"
            [ngClass]="{'pointer-events-none': pageIndex <=1 }">
                <i class="las la-angle-left"></i>
            </span>
        </li>
        <li class="border border-gray-200 flex items-centerg rounded-lg cursor-pointer">
            <span class="py-0.5 px-4 inline-block hover:text-gray-700 text-lg"  (click)="onPageIndexChange(pageIndex + 1); $event.preventDefault();"
            [ngClass]="{'pointer-events-none': pageIndex >= totalPages }">
                <i class="las la-angle-right"></i>
            </span>
        </li>
    </ul>
</div>