<section id="slider" slider class="container mx-auto px-8 lg:h-[510px] duration-700 ">
    <div class="flex pt-4">
        <div class="flex flex-wrap items-center mx-auto mt-10">
            <div class="w-full lg:w-5/12 lg:pr-16 justify-center">
                <strong class="text-red-500 font-black">WE BUILD FOR YOU</strong>
                <h1 class="mt-6 font-bold text-indigo-500 text-4xl">High performance</h1>
                <h1 class="text-red-500 font-inter font-black text-4xl mt-1 leading-snug">Web & Mobile Applications</h1>
                <p class="mt-8 text-indigo-500 text-lg text-opacity-80">
                    We deliver
                    <strong>high performance, trusted quality</strong> software systems and mobile applications at
                    <strong> very optimal cost and time.</strong> Starting at low cost and free consultation.
                </p>
                <a routerLink="/enquiry" class="inline-block tracking-tight mt-6 py-4 px-10 bg-orange-900 hover:text-red-500 hover:bg-white border-orange-900 text-indigo-500 border opacity-85 rounded-3xl cursor-pointer ">
                Contact us, we response under 2 hours.</a>
            </div>
            <div class=" w-full lg:w-7/12 p-8">
                <img src="assets/images/home/slider1.png" alt="slider1">
            </div>
        </div>
    </div>
  <div class="hidden">
    <div class="flex pt-4">
        <div class="flex flex-wrap items-center mx-auto mt-10">
            <div class="w-full lg:w-5/12 lg:pr-20 justify-center">
                <strong class="text-red-500 font-black">TOP SECURITY APPLICATIONS</strong>
                <h1 class="mt-6 font-bold text-indigo-500 text-4xl">High standards bring</h1>
                <h1 class="text-red-500 font-inter font-black text-4xl mt-1 leading-snug">High security</h1>
                <p class="mt-8 text-indigo-500 text-lg text-opacity-80 tracking-tight">
                    We use
                    <strong>top security standards</strong>
                    recommended by IT industries, your data and system will always be protected, safe and never get lost.
                </p>
                <a routerLink="/enquiry" class="inline-block tracking-tight mt-6 py-4 px-10 bg-orange-900 hover:text-red-500 hover:bg-white border-orange-900 text-indigo-500 border opacity-85 rounded-3xl cursor-pointer ">
                Contact us, we response under 2 hours.</a>
            </div>
            <div class=" w-full lg:w-7/12 p-8">
                <img src="assets/images/home/slider2.png" alt="slider2">
            </div>
        </div>
    </div>
  </div>
   <div class="hidden">
    <div class="flex pt-4">
        <div class="flex flex-wrap items-center mx-auto mt-10">
            <div class="w-full lg:w-5/12 lg:pr-20 justify-center">
                <strong class="text-red-500 font-black">TEAMWORK MAKES DREAM WORK</strong>
                <h1 class="mt-6 font-bold text-indigo-500 text-4xl">Continuously</h1>
                <h1 class="text-red-500 font-inter font-black text-4xl mt-1 leading-snug">Collaboration</h1>
                <p class="mt-8 text-indigo-500 text-lg text-opacity-80">
                    We work and
                    <strong>collaborate continuously</strong>
                    with customers to ensure that their ideas are actualized in the most accurate way.
                </p>
                <a routerLink="/enquiry" class="inline-block tracking-tight mt-6 py-4 px-10 bg-orange-900 hover:text-red-500 hover:bg-white border-orange-900 text-indigo-500 border opacity-85 rounded-3xl cursor-pointer ">
                Contact us, we response under 2 hours.</a>
            </div>
            <div class=" w-full lg:w-7/12 p-8">
                <img src="assets/images/home/slider3.png" alt="slider3">
            </div>
        </div>
    </div>
   </div>
</section>
<section id="service-section" class= "py-12 px-2 lg:px-4 md:py-20 container mx-auto ">
    <div class="mb-4 w-full mx-auto text-center sm:mt-16">
        <strong class="text-red-500 mx-auto">WHAT WE DO</strong>
        <h1 class="mt-6 text-indigo-500 text-4xl font-inter font-black mb-8 leading-snug">We build amazing software for your business</h1>
        <p class="leading-loose text-lg text-gray-500 tracking-tight"> Geneat Software is a
          creative team of software professionals delivering high performance, scalable, secure technology for our
          customers worldwide. Our cutting edge software development services can help you optimise your
          resources, budget and delivery timelines to allow you to  maintain your edge in the era of digital
          transformation.
      </p>
    </div>
    <div id="slider" slider data-show="3">
        <div class="px-2 mb-3" *ngFor="let service of listService;let index = index" [ngClass]="{'hidden': index > 0}">
            <a [routerLink]="['/service',service.slug]"
            class="block text-center border rounded-md shadow border-gray-10 py-3 px-4 hover:shadow-lg transition-shadow duration-400">
            <img [src]="service.img" alt="service" class="mx-auto"/>
            <strong class="text-xl text-indigo-600 text-opacity-90 inline-block mt-2.5 md:h-14"
            nz-tooltip [nzTooltipTitle]="service.title">{{service.title}}</strong>
            </a>
        </div>
    </div>
</section>
<section class="pt-16 pb-20 bg-blue-200 mt-5">
    <div class="container px-4 mx-auto">
        <div class="my-4 text-center">
            <strong class="text-red-500 text-lg">OUR KEY COMPETENCES</strong>
            <h1 class="mt-6 font-black text-4xl text-black font-inter ">Why Choose Us?</h1>
        </div>
        <div class="flex flex-wrap justify-between md:pl-6 lg:pl-6">
            <div class=" flex w-1/2 lg:w-1/3 py-8 hover:-translate-y-1 duration-300 items-center">
                <div class="">
                    <i class="las la-tachometer-alt text-4xl text-indigo-500 "></i>
                </div>
                <div class="ml-3 sm:ml-12 sm:py-2 ">
                    <span class="font-bold sm:text-xl">High Quality</span>
                </div>
            </div>
            <div class=" flex w-1/2 lg:w-1/3 py-8 hover:-translate-y-1 duration-300 items-center">
                <div class="">
                    <i class="las la-headset text-4xl text-indigo-500 "></i>
                </div>
                <div class="ml-3 sm:ml-12">
                    <span class="font-bold sm:text-xl">Dedicated Consultation</span>
                </div>
            </div>
            <div class=" flex w-1/2 lg:w-1/3 py-8 hover:-translate-y-1 duration-300 items-center">
                <div class="">
                    <i class="las la-calendar-day text-4xl text-indigo-500 "></i>
                </div>
                <div class="ml-3 sm:ml-12">
                    <span class="font-bold sm:text-xl">Optimal Cost & Time</span>
                </div>
            </div>
            <div class=" flex w-1/2 lg:w-1/3 py-8 hover:-translate-y-1 duration-300 items-center">
                <div class="">
                    <i class="las la-tools text-4xl text-indigo-500 "></i>
                </div>
                <div class="ml-3 sm:ml-12">
                    <span class="font-bold sm:text-xl">Advanced Analytics</span>
                </div>
            </div>
            <div class=" flex w-1/2 lg:w-1/3 py-8 hover:-translate-y-1 duration-300 items-center">
                <div class="">
                    <i class="las la-lightbulb text-4xl text-indigo-500 "></i>
                </div>
                <div class="ml-3 sm:ml-12">
                    <span class="font-bold sm:text-xl">Pragmatic Solutions</span>
                </div>
            </div>
            <div class=" flex w-1/2 lg:w-1/3 py-8 hover:-translate-y-1 duration-300 items-center">
                <div class="">
                    <i class="las la-comments text-4xl text-indigo-500 "></i>
                </div>
                <div class="ml-3 sm:ml-12">
                    <span class="font-bold sm:text-xl">Expert Support</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-section">
    <div class="container px-4 py-16 mx-auto">
        <div class="flex flex-wrap lg:flex-nowrap">
            <div class="relative flex items-center justify-center w-full lg:w-1/2 my-12 lg:my-0">
                <img class="w-40 absolute top-10 right-2 -ml-12 -mt-12" src="assets/images/home/blob-tear.svg" alt="blob-tear">
                <img class="w-auto px-10" src="assets/images/home/about.jpg" alt="about">
                <img class="w-40 absolute bottom-12 left-2 -mr-12 -mb-12" src="assets/images/home/blob-tear.svg" alt="blob-tear">
            </div>
            <div class="w-full lg:w-1/2">
                <div class="lg:py-6 lg:pr-28">
                    <div class="mb-4">
                        <strong class="text-red-500">WHO WE ARE</strong>
                        <h1 class="text-indigo-500 mt-5 font-black text-4xl font-inter leading-snug">SOFTWARE Make in Vietnam</h1>
                    </div>
                    <div class="py-4 text-lg text-gray-500 tracking-tight">
                        <p class="mb-2.5">GENEAT was established with the goal and mission of building a Vietnamese software
                            brand to the English-speaking and European markets.
                        </p>
                        <p class="mb-2.5">The quality of products and services to our customers is our top priority. Therefore
                            we build a young, dynamic, creative working environment that favors all new ideas.
                        </p>
                        <p class="mb-2.5">Our products and services are always updated with latest, stable, verified technology
                            and architecture. Your investment will be worth every penny.
                        </p>
                        <p class="mb-2.5">We aims to become a trusted partner for all customers, especially small and medium
                            businesses, offering great software consulting and development services.
                        </p>
                        <p class="mb-2.5">Fell free to contact us and give us a chance working with you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-blue-200 py-10 md:py-20" id="accompplishments">
    <div class="container px-1 mx-auto ">
        <div class="flex flex-wrap ">
            <div class="w-full text-center mx-auto">
                <strong class="mt-15 text-red-500 text-lg">ACCOMPLISHMENTS</strong>
                <h1 class="text-indigo-500 mt-4 font-extrabold text-4xl mb-5 font-inter">Our Completed Projects</h1>
                <p class="mt-15 text-gray-500 mb-2.5 text-lg px-5"> We are always proud to share the projects we have worked on,
                    and we would gladly invite you to contact us for further information.
                    All of our projects are equally important to us, no matter how big or small
                    projects are. It is about delivering quality projects by our committed team.
                </p>
            </div>
        </div>
        <div id="slider" slider class="mt-14" data-show="3">
            <div class="px-3 pb-3" *ngFor="let item of listAccomplishment;let index = index" [ngClass]="{'hidden': index > 0}" >
                <a [routerLink] = "item.slug" class="bg-white shadow border border-gray-10 p-3 hover:shadow-lg transition-shadow duration-400 rounded-md block">
                <img
                [src] = "item.img" alt="anh" class="rounded-xl mx-auto"/>
               <div class="px-3">
                <strong nz-tooltip [nzTooltipTitle]="item.title" class="text-xl text-indigo-600 text-opacity-90 inline-block mt-4 md:h-14 lg:h-6 truncate-2">{{item.title}}</strong>
                <p  nz-tooltip [nzTooltipTitle]="item.sub" class="text-base text-gray-500 mt-4 h-8 truncate-3">
                    {{item.sub}}
                </p>
               </div>
                </a>
            </div>
        </div>
    </div>
    <div class="w-full text-center mt-8">
        <a routerLink="/portfolio" class="inline-block tracking-tight mt-6 py-4 px-10 bg-orange-900 hover:text-red-500 hover:bg-white border-orange-900 border rounded-3xl text-indigo-500 cursor-pointer opacity-85">
        View our portfolio
        </a>
    </div>
</section>
<section class="pt-20 pb-28" id="latestnews">
    <div class="container mx-auto">
        <div class="w-full text-center mx-auto mb-6 lg:px-4">
            <strong class="mt-15 text-red-500 tracking-wide ">LATEST NEWS</strong>
            <h1 class="text-indigo-500 mt-6 font-black text-4xl mb-5 font-inter">Insights About Our Business</h1>
            <p class="mt-15 text-gray-500 mb-2.5 text-lg leading-loose tracking-tight px-2 lg:px-1">
                Check out the latest news about our clients, employees, partners and projects below. If you’re
                interested and would like some additional information on any of our news articles you can always contact
                us. Our doors are always open.
            </p>
        </div>
    </div>
    <div class="w-full mt-14 container px-2 lg:px-4 mx-auto">
        <div id="slider" slider  data-show="3" class="flex flex-wrap">
            <div class="px-3 mb-4" *ngFor="let item of listBusiness;let index = index" [ngClass]="{'hidden': index > 0}">
                <a [routerLink]="item.slug" class="p-3 shadow border border-gray-10 rounded transition-shadow duration-300 hover:shadow-lg block">
                    <img [src] = "item.img" alt="business" class="rounded-lg mx-auto">
                    <h1  nz-tooltip [nzTooltipTitle]="item.title" class="text-xl font-bold text-indigo-500 mt-4 md:h-14 truncate-2">{{item.title}}</h1>
                    <p  nz-tooltip [nzTooltipTitle]="item.content"class=" font-normal text-gray-300 mt-4 md:h-[72px] truncate-3 inline-block">{{item.content}}</p>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="bg-[url('/assets/images/home/intersect.png')] bg-no-repeat pt-20 pb-10 lg:bg-contain bg-top" >
    <div class="container px-4 mx-auto">
        <div class="text-center mb-16">
                <h1 class=" text-indigo-500 font-extrabold text-4xl relative">What Our Clients Say</h1>
                <p class="text-gray-800 text-lg mt-7 lg:px-32">We pride ourselves on providing an exceptional service to our clients, but you don’t just have to take our word for
                it. Read what our clients have to say about working with us.</p>
        </div>
        <div >
            <div id="slider" slider data-show="3" class="w-full flex flex-wrap">
                <div class="mb-6" *ngFor="let item of listClient; let index = index" [ngClass]="{'hidden': index > 0}">
                    <div class="mx-3">
                        <div class="bg-white rounded shadow hover:shadow-lg hover:-translate-y-1 transition duration-300 pt-10 pb-5 px-7">
                            <div class="w-40 h-40 rounded-full border-8 mx-auto">
                                <img class="rounded-full" [src] = "item.img" alt="anh">
                            </div>
                            <div class="w-full">
                                <p  nz-tooltip [nzTooltipTitle]="item.name" class="text-center text-2xl text-black font-medium mt-5 lg:h-8 md:h-16 truncate-2">
                                    {{item.name}}
                                </p>
                                <p class="text-center font-normal text-gray-400 mt-4 text-base lg:h-3 md:h-6">{{item.title}}</p>
                                <blockquote class="flex justify-center mt-4">
                                    <span nz-tooltip [nzTooltipTitle]="item.content" class="mt-2 text-gray-700 inline-block text-justify md:h-24 truncate-4">
                                       {{item.content}}
                                    </span>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact-section"  class="bg-[url('/assets/images/home/blob.png')] bg-no-repeat bg-contain md:bg-center w-full"  >
    <div class="mx-auto container py-40">
        <div class="text-center mb-3">
            <h1 class=" text-indigo-500 lg:text-4xl font-extrabold mb-5 text-3xl lg:mx-80">Having an idea? Tell us and immediately start</h1>
            <p class="mb-8 sm:text-xl text-gray-500 lg:px-64 tracking-tight mx-3">Send us an email to
                <a class="text-indigo-500 hover:text-indigo-500 hover:opacity-90" href="mailto:geneat.soft@gmail.com">geneat.soft@gmail.com</a>
                or fill this form, we will reply you within 1 hour
            </p>
        </div>
        <div class="w-11/12 md:w-9/12 lg:w-6/12 xl:w-5/12 bg-white rounded-lg mx-auto shadow-md ">
            <form [formGroup]="form" class="py-5">
              <label class="px-4">Your contact:</label>
              <nz-form-item class="w-full px-3">
                <nz-form-control [nzErrorTip]="errorTmpl">
                  <input type="text"
                         formControlName="infoSender"
                         class="px-4 lg:mb-0 border rounded border-gray-100 w-full h-11 outline-none  ant-input bg-slate-50 hover:border-gray-300" placeholder="Your name, email, phone number or anything we can reach">
                </nz-form-control>
              </nz-form-item >
              <label class="px-4">Your great idea:</label>
              <nz-form-item class="w-full px-3">
                <nz-form-control [nzErrorTip]="errorTmpl">
                  <textarea rows="4" type="text"
                         formControlName="content"
                         class="px-4 lg:mb-0 border rounded border-gray-100 w-full outline-none ant-input bg-slate-50 hover:border-gray-300"></textarea>
                </nz-form-control>
              </nz-form-item >
                <small class="px-4 inline-block text-gray-500 tracking-tight">Tell us any of your great, incredible ideas, we're really happy to hear all of them.</small>
                <div class="px-4">
                    <button (click)="handleValid()" class="w-full rounded-md mt-1 py-3 text-sm font-semibold text-white bg-indigo-500 hover:bg-indigo-700 hover:-translate-y-1 duration-300" type="submit">Send</button>
                </div>
            </form>

        </div>
    </div>
</section>
<ng-template #errorTmpl let-control>
  <span class="text-base text-red-600">{{getErrorMessage(control)}}</span>
</ng-template>
<div class="fixed w-full h-full z-50 top-0 bottom-0 flex justify-center items-center"
[ngClass]="{'-left-full': !success, 'left-0': success}">
<div (click)="this.success = false" class="absolute h-full z-50 w-full left-0 bg-black transition-all duration-200 ease-in-out"
    [ngClass]="{'opacity-0': !success , 'opacity-25': success}"></div>
<div class=" absolute z-50 mx-auto flex justify-center my-auto transition-all duration-200 ease-in-out" [ngClass]="{'opacity-0': !success , 'opacity-100': success}">
    <div class="w-2/3 bg-white py-2 rounded-md shadow-xl">
        <p class="text-center font-bold text-indigo-500 text-lg my-3 px-3">{{'We have received your information. We will contact you as soon as possible'}}</p>
        <div class=" flex items-center justify-center pb-1">
            <button  (click)="this.success = false" class="px-5 py-2 bg-orange-900 text-white rounded-md">OK</button>
        </div>
    </div>
</div>
</div>
