<footer class="w-full bg-white border-t border-gray-10 relative
before:hidden lg:before:block before:bg-blue-200 before:absolute before:top-0 before:left-1/2 before:w-1/2 before:h-full before:z-0">
  <div class="container mx-auto pt-10 lg:pb-20 lg:pt-20 flex flex-wrap md:px-6">
    <div class="w-full lg:w-1/2 px-4 md:px-32 lg:px-0">
      <div class="mb-16">
        <div class="flex flex-col items-center lg:items-start">
          <div (click)="onScrollTop()" class="inline-block cursor-pointer">
            <img src="assets/images/gnt-logo.png" class="h-10" alt="logo">
          </div>
          <span class="text-lg font-bold text-gray-900 opacity-80 inline-block mt-4">About GENEAT</span>
        </div>
      <div class="mt-2.5">
        <p class=" text-gray-700 tracking-tight text-center lg:text-left">Founded with a belief that softwares should
          be a powerful and effective tool for entrepreneurs instead of costly, fancy and hard to understand.</p>
      </div>
      </div>
      <div class="hidden lg:block">
        <small class="text-xs opacity-80">© 2022. All rights reserved.</small>
        <a href="https://www.facebook.com/geneat.vn" class="block mt-4 text-indigo-500 hover:opacity-90 hover:text-indigo-400">
          <i class="lab la-facebook-f la-lg"></i></a>
      </div>
    </div>
    <div class="w-full lg:w-1/2 flex flex-wrap pl-4 lg:pl-12 pr-4 z-0 pt-6 md:pt-7">
        <div class="w-full lg:w-1/2">
          <span class="inline-block mb-6 text-lg font-bold text-gray-700">Services</span>
          <ul>
            <li class="mb-3">
              <a routerLink="/service/software-development" class="text-indigo-500 hover:opacity-90 hover:text-indigo-500 font-normal text-lg"><i class="las la-laptop-code la-lg mr-1"></i>
                Software Development</a>
            </li>
            <li class="mb-3">
              <a routerLink="/service/mobile-development" class="text-indigo-500 hover:opacity-90 hover:text-indigo-500 font-normal text-lg"><i class="las la-mobile la-lg mr-1"></i>
              Mobile Development</a>
            </li>
            <li class="mb-3">
              <a routerLink="/service/system-maintenance" class="text-indigo-500 hover:opacity-90 hover:text-indigo-500 font-normal text-lg"><i class="las la-headset la-lg mr-1"></i>
              Software Consulting</a>
            </li>
            <li class="mb-3">
              <a routerLink="/service/mobile-development" class="text-indigo-500 hover:opacity-90 hover:text-indigo-500 font-normal text-lg"><i class="las la-dolly la-lg mr-1"></i>
              Software Migrations</a>
            </li>
            <li class="mb-3">
              <a routerLink="/service/mobile-development" class="text-indigo-500 hover:opacity-90 hover:text-indigo-500 font-normal text-lg"><i class="las la-tools la-lg mr-1"></i>
              System Maintenance</a>
            </li>
          </ul>
        </div>
        <div class="w-full lg:w-1/2 mt-4 lg:mt-0">
          <span class="inline-block mb-6 text-lg font-bold text-gray-700">Have a Questions?
          </span>
          <ul class="">
            <li class="mb-3">
              <a href="tel:+84934571626" class="text-indigo-500 hover:opacity-90 hover:text-indigo-500 font-normal text-lg "><i class="las la-phone-volume la-lg mr-1"></i>
             <span class="">Hotline: +84 934 571 626</span></a>
            </li>
            <li class="mb-3">
              <a href="mailto:geneat.soft@gmail.com" class="text-indigo-500 hover:opacity-90 hover:text-indigo-500 font-normal text-lg"><i class="las la-envelope la-lg mr-1"></i>
              Sales: geneat.soft@gmail.com</a>
            </li>
            <li class="mb-3">
              <a href="mailto:support@geneat.vn" class="text-indigo-500 hover:opacity-90 hover:text-indigo-500 font-normal text-lg"><i class="las la-envelope la-lg mr-1"></i>
              Technical: support@geneat.vn</a>
            </li>
            <li class="mb-3">
              <a target="_blank" href="https://www.facebook.com/geneat.vn" class="text-indigo-500 hover:opacity-90 hover:text-indigo-500  font-normal text-lg"><i class="lab la-facebook-f la-lg mr-1"></i>
              fb/geneatvn</a>
            </li>
          </ul>
        </div>
        <div class="lg:hidden text-center w-full mt-16 mb-3">
          <p class="text-xs opacity-80 font-normal text-black">© 2021. All rights reserved.</p>
        </div>
      </div>
</div>
</footer>