@font-face {
  font-family: 'Inmergers';
  src:  url('../font/Inmergers.eot');
  src:  url('../font/Inmergers.eot') format('embedded-opentype'),
    url('../font/Inmergers.ttf') format('truetype'),
    url('../font/Inmergers.woff') format('woff'),
    url('../font/Inmergers.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="inmergers-"], [class*=" inmergers-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Inmergers' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inmergers-Expanding:before {
  content: "\e929";
}
.inmergers-search1:before {
  content: "\e928";
}
.inmergers-minus:before {
  content: "\e927";
}
.inmergers-location:before {
  content: "\e926";
}
.inmergers-arrow-minium:before {
  content: "\e92a";
}
.inmergers-arrow:before {
  content: "\e923";
}
.inmergers-clock1:before {
  content: "\e924";
}
.inmergers-download:before {
  content: "\e925";
}
.inmergers-request:before {
  content: "\e920";
}
.inmergers-clock:before {
  content: "\e91b";
}
.inmergers-dollar1:before {
  content: "\e91c";
}
.inmergers-hand-02:before {
  content: "\e91d";
}
.inmergers-hand-03:before {
  content: "\e91e";
}
.inmergers-house:before {
  content: "\e91f";
}
.inmergers-tobe:before {
  content: "\e921";
}
.inmergers-tobe-02:before {
  content: "\e922";
}
.inmergers-hand:before {
  content: "\e919";
}
.inmergers-certificate:before {
  content: "\e912";
}
.inmergers-connect:before {
  content: "\e913";
}
.inmergers-data:before {
  content: "\e914";
}
.inmergers-dollar:before {
  content: "\e915";
}
.inmergers-high:before {
  content: "\e916";
}
.inmergers-note:before {
  content: "\e917";
}
.inmergers-return:before {
  content: "\e918";
}
.inmergers-frame-03:before {
  content: "\e911";
}
.inmergers-frame:before {
  content: "\e904";
}
.inmergers-frame-04:before {
  content: "\e91a";
}
.inmergers-frame-02:before {
  content: "\e903";
}
.inmergers-m-left:before {
  content: "\e90f";
}
.inmergers-m-right:before {
  content: "\e910";
}
.inmergers-about-us:before {
  content: "\e900";
}
.inmergers-contact-us:before {
  content: "\e901";
}
.inmergers-fund-detail:before {
  content: "\e902";
}
.inmergers-match-detail:before {
  content: "\e905";
}
.inmergers-messenger:before {
  content: "\e906";
}
.inmergers-mfund-detail:before {
  content: "\e907";
}
.inmergers-mmatch-detail:before {
  content: "\e908";
}
.inmergers-news:before {
  content: "\e909";
}
.inmergers-our-events:before {
  content: "\e90a";
}
.inmergers-our-partner:before {
  content: "\e90b";
}
.inmergers-our-service:before {
  content: "\e90c";
}
.inmergers-plus:before {
  content: "\e90d";
}
.inmergers-search:before {
  content: "\e90e";
}
