<section class=" object-cover bg-no-repeat bg-cover bg-bottom bg-[url('assets/images/portfolio/dsc/detail-content.jpeg')]">
  <div class="text-center pt-9 pb-12 ">
          <div class="text-base md:text-lg">
            <a href="" class="inline-block py-1 px-3 text-xs font-semibold bg-blue-100 text-indigo-500 rounded-xl mr-3 hover:text-indigo-500">
              C#
               </a>
            <a href="" class="inline-block py-1 px-3 text-xs font-semibold bg-blue-100 text-indigo-500 rounded-xl mr-3 hover:text-indigo-500">
           MQTT
            </a>
          <samp class="text-sm">08/09/2021 15:50</samp>
          </div>
          <div *ngFor="let item of postListDetail">
            <h1 class="text-4xl font-black text-white mt-5 font-inter">
              {{item.title}}
            </h1>
          </div>
          
        </div>
</section>
<section class="container mx-auto mt-12" id="content-full">
  <div>
    <!-- <img [src]="" alt="content" class="g-image container w-full mx-auto"> -->
  </div>
  <div class="container px-4 mx-auto" *ngFor="let item of postListDetail">
    <nav>
      <ol class="list-reset text-gray-dark">
        <li >
          <a routerLink="/" class="font-bold ">Home</a>
        </li>
        <li class="mx-2">/</li>
        <li >
          <a routerLink="/portfolio" class="font-bold "> Portfolio</a>
        </li>
        <li class="mx-2">/</li>
        <li>{{item.title}}</li>
      </ol>
    </nav>
    <!-- <div class="max-w-2xl mx-auto mt-5 px-6">
      <div class="bg-blue-300 pt-8 pb-1 px-10 mb-3">
         <ul class=" text-xl" >
        <li><a (click)="scrollToDetail('#Purpose')">A. Purpose</a> </li>
        <li> <a (click)="scrollToDetail('#TechnicalStack')">B. Technical Stack</a> </li>
        <li> <a (click)="scrollToDetail('#Screenshots')" >C. Screenshots</a>
         <ul class="ml-10">
            <li> <a (click)="scrollToDetail('#itema')">1. The main screen</a> </li>
            <li><a (click)="scrollToDetail('#itemb')">2. The detail screen</a> </li>
            <li><a (click)="scrollToDetail('#itemc')"> 3. Some other parts in the app</a></li>
          </ul>
        </li>
        <li><a (click)="scrollToDetail('#Questions')">D. Questions?</a>
        </li>
      </ul>
      </div>
      </div>
        <div class="mb-6">
          <div class="max-w-2xl mx-auto px-7 md:px-3 text-xl" *ngFor="let item of listContentA" id="Purpose">
              <h2>{{item.title}}</h2>
              <p class=" ">
                <strong>GENEAT DCS</strong>
                {{item.content1}}
              </p>
              <p>
                {{item.content2}}
              </p>
          </div>
          <div *ngFor="let item of listContentA">
            <img [src]="item.img" alt="" class="g-image">
          </div>
          <h6>LikeZone Sales - Overview</h6>
        </div>
      
      <div class="mb-6" *ngFor="let item of listContentB">
        <div class="max-w-2xl mx-auto px-7 md:px-3 text-xl" id="TechnicalStack">
            <h2>{{item.title}}</h2>
            <p>{{item.content1}}</p>
            <ul class="list-disc pl-10 ">
              <li>User interface for the app</li>
              <li>Website</li>
              <li>API system</li>
            </ul>
            <p>{{item.content2}}</p>
            <ul class="list-disc pl-10 ">
              <li>App interface: Ionic framework</li>
              <li>Website admin: Angular  </li>
              <li>API systems: .NET Core 3.1, PostgreSQL</li>
              <li>Protocol: RESTful API for app and website</li>
            </ul>
            <p class="mt-5 ">{{item.content3}}</p>
        </div>
      </div>
      <div class="mb-6" *ngFor="let item of listContentC">
        <div class="max-w-2xl mx-auto px-7 md:px-3 text-xl" id="Screenshots">
            <h2>{{item.name1}}</h2>
            <div id="itema">
              <h3 >{{item.title1}}</h3>
            </div>
            
            <p>{{item.content1}}</p>
        </div>
        <img [src]="item.img1" alt="" class="g-image glightbox">
        <h6>{{item.describe1}}</h6>
        <div class="max-w-2xl mx-auto px-7 md:px-3 text-xl">
          <div id="itemb">
            <h3 >{{item.title2}}</h3>
          </div>
          
          <p>{{item.content2}}</p>
          <p>{{item.content21}}</p>
        </div>
        <img [src]="item.img2" alt="" class="g-image glightbox">
        <h6>{{item.describe2}}</h6>
        <div class="max-w-2xl mx-auto px-7 md:px-3 text-xl">
          <div id="itemc">
            <h3 >{{item.title3}}</h3>
          </div>
          
          <p>{{item.content3}}</p>
          <p>{{item.content31}}</p>
        </div>
        <img [src]="item.img3" alt="" class="g-image glightbox">
        <h6>LikeZone Sales - Managed Customer</h6>
   
      </div>
      <div class="mb-6" *ngFor="let item of listContentD">
        <div class="max-w-2xl mx-auto px-7 md:px-3 text-xl">
          <h2 id="a-purpose" id="Questions">{{item.name4}}</h2>
          <p>{{item.title}}</p>
          <span (click)="scrollToSectionHome('#contact-section')" class="cursor-pointer text-indigo-500 hover:text-indigo-500 hover:opacity-90"> 
          geneat.soft@gmail.com</span>
        </div>
      </div>
      <div class="mb-6 pb-10">
        <div class="max-w-2xl mx-auto px-7 md:px-3">
        <span
        (click)="scrollToSectionHome('#contact-section')"
        class="text-xl cursor-pointer mt-4 block text-center text-indigo-500 py-4 px-6 bg-orange-900 hover:bg-white hover:text-red-500 border-orange-900 border rounded-3xl opacity-85"
        >Contact us, we response under 2 hours.</span>
    </div>
      </div>
    </div>
</section>
 -->
