<section id="contact-section"  class="bg-[url('/assets/images/home/blob.png')] bg-no-repeat bg-contain md:bg-center w-full"  >
    <div class="mx-auto container py-20">
        <div class="text-center mb-3">
            <h1 class=" text-indigo-500 lg:text-4xl font-extrabold mb-5 text-3xl lg:mx-80">Customer Enquiry Form</h1>
            <p class="mb-8 sm:text-xl text-gray-500 lg:px-64 tracking-tight mx-3">We will get touch with you shortly</p>
        </div>
        <div class="w-11/12 md:w-9/12 lg:w-6/12 bg-white rounded-lg mx-auto shadow-md ">
            <form [formGroup]="form" class="py-5">
              <label class="px-4">I want<span class="text-red-500">*</span></label>
              <nz-form-item class="w-full px-3">
                <nz-form-control [nzErrorTip]="errorTmpl">
                  <input type="text"
                         formControlName="demand"
                         class="px-4 lg:mb-0 border rounded border-gray-100 w-full h-10 outline-none  ant-input  hover:border-gray-300 ">
                </nz-form-control>
              </nz-form-item >
              <label class="px-4">Your title<span class="text-red-500">*</span></label>
              <nz-form-item  class="w-full px-3">
                <nz-form-control [nzErrorTip]="errorTmpl">
                  <nz-select ngModel="MR" formControlName="yourTitle" [nzSize]="'large'" class="text-base">
                      <nz-option nzLabel="Mr." nzValue="MR"></nz-option>
                      <nz-option nzLabel="Mrs." nzValue="MS"></nz-option>
                    </nz-select>
              </nz-form-control>
              </nz-form-item >
              <label class="px-4">Your name<span class="text-red-500">*</span></label>
              <nz-form-item class="w-full px-3">
                <nz-form-control [nzErrorTip]="errorTmpl">
                  <input type="text"
                         formControlName="name"
                         class="px-4 lg:mb-0 border rounded border-gray-100 w-full h-10 outline-none  ant-input  hover:border-gray-300">
                </nz-form-control>
              </nz-form-item >
              <label class="px-4">Your Phone number<span class="text-red-500">*</span></label>
              <nz-form-item class="w-full px-3">
                <nz-form-control [nzErrorTip]="errorTmpl">
                  <input type="tel"
                         formControlName="phoneNumber"
                         class="px-4 lg:mb-0 border rounded border-gray-100 w-full h-10 outline-none  ant-input  hover:border-gray-300">
                </nz-form-control>
              </nz-form-item >
              <label class="px-4">Your Email Address<span class="text-red-500">*</span></label>
              <nz-form-item class="w-full px-3">
                <nz-form-control [nzErrorTip]="errorTmpl">
                  <input type="email"
                         formControlName="emailAddress"
                         class="px-4 lg:mb-0 border rounded border-gray-100 w-full h-10 outline-none  ant-input  hover:border-gray-300">
                </nz-form-control>
              </nz-form-item >
              <label class="px-4">I want to be contacted</label>
              <nz-form-item class="w-full px-3">
                <nz-form-control [nzErrorTip]="errorTmpl">
                  <nz-date-picker class="w-full h-10 hover:border-gray-300 border-gray-100"  formControlName="timeContact" [(ngModel)]="date"></nz-date-picker>
                </nz-form-control>
              </nz-form-item >
              <label class="px-4">I would like to be contacted by</label>
              <nz-form-item class="w-full px-3">
                <nz-form-control [nzErrorTip]="errorTmpl">
                    <nz-select ngModel="PHONE" formControlName="selectionContact" [nzSize]="'large'" class="text-base hover:border-gray-300">
                        <nz-option nzLabel="Phone" nzValue="PHONE"></nz-option>
                        <nz-option nzLabel="Email" nzValue="EMAIL"></nz-option>
                      </nz-select>
                </nz-form-control>
              </nz-form-item >
              <label class="px-4">I live in the following country<span class="text-red-500">*</span></label>
              <nz-form-item class="w-full px-3">
                <nz-form-control [nzErrorTip]="errorTmpl">
                    <nz-select formControlName="countryCode" [nzSize]="'large'" class="text-base  hover:border-gray-300">
                        <nz-option [nzLabel]="item.name" [nzValue]="item.iso2" *ngFor="let item of listCountries"></nz-option>
                      </nz-select>
                </nz-form-control>
              </nz-form-item >
              <label class="px-4">I have the following additional questions <span class="text-red-500">*</span></label>
              <nz-form-item class="w-full px-3">
                <nz-form-control [nzErrorTip]="errorTmpl">
                  <textarea rows="4" type="text"
                         formControlName="additionalQuestions"
                         class="px-4 lg:mb-0 border rounded border-gray-100 w-full h-36 outline-none  ant-input  hover:border-gray-300"></textarea>
                </nz-form-control>
              </nz-form-item>
                <div class="px-4">
                    <button (click)="handleValid()" class="w-full uppercase rounded-md mt-1 py-3 text-sm font-semibold text-white bg-indigo-500 hover:bg-indigo-700 hover:-translate-y-1 duration-300" type="submit">Send Enquiry</button>
                </div>
            </form>

        </div>
    </div>
</section>
<ng-template #errorTmpl let-control>
    <span class="text-base text-red-600">{{getErrorMessage(control)}}</span>
</ng-template>
<div class="fixed w-full h-full z-50 top-0 bottom-0 flex justify-center items-center"
[ngClass]="{'-left-full': !success, 'left-0': success}">
<div (click)="this.success = false" class="absolute h-full z-50 w-full left-0 bg-black transition-all duration-200 ease-in-out"
    [ngClass]="{'opacity-0': !success , 'opacity-25': success}"></div>
<div class=" absolute z-50 mx-auto flex justify-center my-auto transition-all duration-200 ease-in-out" [ngClass]="{'opacity-0': !success , 'opacity-100': success}">
    <div class="w-2/3 bg-white py-2 rounded-md shadow-xl">
        <p class="text-center font-bold text-indigo-500 text-lg my-3 px-3">{{'We have received your information. We will contact you as soon as possible'}}</p>
        <div class=" flex items-center justify-center pb-1">
            <button  (click)="this.success = false" class="px-5 py-2 bg-orange-900 text-white rounded-md">OK</button>
        </div>
    </div>
</div>
</div>