<div class="flex justify-between items-center mt-9 max-w-6xl mx-auto relative">
    <img src="assets/images/service/macbook.png" alt="hinh">
    <div class="absolute top-[5.7%] left-[14.5%] w-[73%]" id="slider" slider >
        <div *ngFor="let item of listSlideService">
            <img [src]="item.img" alt="mockup" class="w-full">
        </div>
    </div>
</div>


 