.tooltip {
@apply absolute max-w-2xl text-xs text-center text-white py-1 px-2 bg-gray-700 rounded-xl z-10 opacity-0 transition-opacity duration-300 ease-in-out backdrop-blur-3xl;
  &:after {
    content: "";
  @apply absolute border-solid;
  }
  &-top:after {
  @apply left-1/2 -ml-1 border-4 top-full border-transparent border-t-gray-700;
  }
  &-bottom:after {
  @apply left-1/2 -ml-1 border-4 bottom-full border-transparent border-b-gray-700;
  }
  &-left:after {
  @apply top-1/2 border-transparent border-l-gray-700;
    margin-top: -5px;
    border-width: 5px;
    left: calc(100% - 1px);
  }
  &-right:after {
  @apply top-1/2 border-transparent border-r-gray-700;
    margin-top: -5px;
    border-width: 5px;
    right: calc(100% - 1px);
  }
  &-show { @apply opacity-90; }
}

