<section class="w-full bg-[url('assets/images/blog/detail-content.jpeg')] object-cover bg-no-repeat bg-cover bg-bottom">
    <div class="text-center pt-9 pb-12 px-2 md:px-0">
        <div class="mb-4">
            <a [routerLink]="['/blog',blogDetail?.category.slug]" class="py-1 px-3 bg-blue-400 rounded-full text-xs font-bold text-indigo-500 
            mr-2.5 uppercase hover:text-indigo-500">{{blogDetail?.category?.title}}</a>
            <span class="text-sm text-black font-normal tracking-tighter">{{formatDate(blogDetail?.createdOnDate)}}</span>
        </div>
        <h2 class="text-4xl font-black text-white font-inter max-w-2xl mx-auto leading-snug">
            {{blogDetail?.title}}
        </h2>
    </div>
</section>
<section class="container mx-auto pt-12 pb-20">
  <div>
      <img [src]="blogDetail?.coverUrl" alt="anh" class="w-full">
  </div>
  <!-- navigate -->
  <div class="mt-6">
    <div class="bg-gray-100 rounded-md">
        <ul class="flex-wrap md:flex-nowrap justify-center md:justify-start flex items-center text-sm font-normal text-gray-700 py-3.5 px-4">
            <li class="mr-5 relative before:content-['/'] before:absolute before:-right-3 before:text-black  before:text-sm">
         <a routerLink="/" class="text-sm font-bold text-indigo-500 hover:text-indigo-500 hover:opacity-90">Home</a>
         </li>
         <li class="mr-5 relative before:content-['/'] before:absolute before:-right-3 before:text-black  before:text-sm">
            <a routerLink="/blog" class="text-sm font-bold text-indigo-500 hover:text-indigo-500 hover:opacity-90">Blog</a>
        </li>
        <li class="mr-5 relative before:content-['/'] before:absolute before:-right-3 before:text-black  before:text-sm">
        <a [routerLink]="['/blog',blogDetail?.category.slug]" class="text-sm font-bold text-indigo-500 hover:text-indigo-500 hover:opacity-90">{{blogDetail?.category?.title}}</a>
        </li>
        <li class="mr-5">{{blogDetail?.title}}</li>
        </ul>
    </div>
  </div>
  <div class="pt-2">
    {{blogDetail?.content}}
    <img [src]="item?.fileUrl" alt="attachments" class="g-image glightbox" *ngFor="let item of blogDetail?.attachments">
  </div>
  <!-- end navigate -->
  <!-- Content-fake -->
  <!-- <div class="px-3 max-w-2xl mx-auto">
    <div class="pt-5">
        <div class="bg-blue-300 pt-8 pb-1 px-10">
         <ul class="text-indigo-500 text-xl font-normal">
             <li><a (click)="scrollToDetail('#tongquan')" class="cursor-pointer hover:text-indigo-500 hover:opacity-90 pb-3 block">A. Tổng quan</a></li>
             <li><a (click)="scrollToDetail('#khokhanbanhang')" class="cursor-pointer hover:text-indigo-500 hover:opacity-90 pb-3 block">B. Khó khăn của bán hàng online và ưu điểm của bán hàng qua app</a>
                 <ul class="pl-12 list-decimal">
                     <li><a (click)="scrollToDetail('#motsokhokhan')" class="cursor-pointer hover:text-indigo-500 hover:opacity-90 pb-3 block">Một số khó khăn khi chưa có công cụ bán hàng theo mạng lưới CTV</a></li>
                     <li><a (click)="scrollToDetail('#uudiembanhang')" class="cursor-pointer hover:text-indigo-500 hover:opacity-90 pb-3 block">Ưu điểm bán hàng qua app với mô hình CTV</a></li>
                 </ul>
             </li>
         </ul> 
        </div>
       </div>
       <div>
         <div class="pt-3" id="tongquan">
            <h2 class="font-inter text-3xl font-black text-black pb-6" >A. Tổng quan</h2>
            <p class="text-xl mb-3">Trong bối cảnh thực tế là quảng cáo đắt đỏ: giá thầu cao, tiếp cận thấp, quảng cáo chủ yếu chỉ ra like 
                ít ra bình luận hoặc đơn hàng như là đi đãi cát tìm vàng. Chúng ta nên suy nghĩ về việc phát triển mô hình bán buôn trên mạng 
                Internet và mô hình cộng tác viên (CTV) trực tuyến. Dễ dàng hình dung ra là những hãng mỹ phẩm, thời trang… đã áp dụng rất 
                thành công mô hình “bán buôn trực tuyến” và cộng tác viên trực tuyến; Bán sỉ, bán lẻ… cho nhãn hiệu sản phẩm đó của công ty 
                hoặc đơn vị sản xuất.
            </p>     
            <p class="mb-3 text-xl">
                Bán hàng online ngày nay là một trong những xu hướng được sử dụng nhiều nhất của các Shop bán hàng, và cũng là công việc được 
                nhiều người lựa chọn khi tìm kiếm việc làm đặc biệt là trong thời buổi dịch bệnh. Tuy nhiên, công việc nào cũng có những khó 
                khăn nhất định, các CTV thì cần người hỗ trợ và Shop cũng cần có hệ thống bán hàng tốt để phát triển.
            </p>
            <p class="text-xl">
                Bài viết dưới đây sẽ đưa ra nhìn nhận về một số khó khăn của Shop gặp phải khi bán hàng mà không có công cụ hỗ trợ và lợi ích 
                của bán hàng qua ứng dụng (app) – xu hướng nổi bật của các Shop trong kinh doanh hiện nay.
            </p>
         </div>
         <div id="khokhanbanhang" class="pt-4">
             <h2 class="font-inter text-3xl font-black text-black mb-6">B. Khó khăn của bán hàng online và ưu điểm của bán hàng qua app</h2>
             <h3 class="text-2xl font-normal mt-6 mb-3" id="motsokhokhan">1. Một số khó khăn khi chưa có công cụ bán hàng theo mạng lưới CTV</h3>
             <em class="font-bold text-xl">Cộng tác viên là gì?</em>
             <p class="font-normal text-xl mt-6 mb-3">Cộng tác viên (CTV) là những người lao động tự do, hợp tác với một doanh nghiệp, tổ chức hay cá nhân nào đó để làm việc mà không phải bỏ vốn hoặc đến trụ sở công ty mỗi ngày. Đây được xem là nghề tay trái của nhiều người khi họ sử dụng thời gian rảnh để kiếm thêm thu nhập. CTV bán hàng online trở thành công việc phổ thông và phù hợp với nhiều đối tượng như sinh viên, dân văn phòng, công nhân… Nhiệm vụ của họ là người kết hợp với các đơn vị chuyên sỉ hàng hóa (quần áo, giày dép, túi xách, đồ dùng gia đình)… để giới thiệu, bán các sản phẩm ra thị trường. Thông thường, CTV không cần đặt cọc, họ được chủ hướng dẫn, yêu cầu những việc cần làm và nhận hoa hồng sau khi bán sản phẩm.</p>
             <p class="font-normal text-xl mt-6 mb-3">Những khó khăn khi chưa có công cụ bán hàng theo hệ thống CTV</p>
             <ul class="text-xl list-disc px-10">
                 <li class="mb-1.5">Khi bạn đang sở hữu 1 hệ thống hay 1 cửa hàng có nhóm CTV cùng bán hàng thì phải có 1 nhóm, group để hàng ngày cập nhật tin tức, chương trình khuyến mãi, chính sách bán hàng, việc phải tương tác liên tục trên hội nhóm làm bạn mất quá nhiều thời gian.</li>
                 <li class="mb-1.5">Với số lượng lớn sản phẩm đang được các CTV bán trên thị trường, mỗi khi có sự thay đổi về giá, hay ưu đãi đối với từng đối tượng CTV thì Shop sẽ phải cập nhật lại cho từng người một, phải tìm lại sổ sách, tin nhắn để cập nhật cho chính xác.</li>
                 <li class="mb-1.5">Khi đơn hàng đã được Shop tiếp nhận, một số trường hợp có thể xảy ra như thay đổi thông tin khách hàng, địa chỉ, số điện thoại, đơn vị vận chuyển… Nếu số lượng CTV lớn, sai sót càng nhiều thì Shop sẽ phải xử lý quá nhiều thông tin cùng 1 lúc, dẫn đến thiếu sót và không chính xác.</li>
                 <li class="mb-1.5">Sau khi gửi hàng thành công, việc quản lý, ghi chép sổ sách về tiền lãi, hoa hồng, ưu đãi cho từng CTV một, trường hợp Shop có nhiều CTV thì sẽ mất nhiều thời gian và nhân công, quá trình ghi chép tính toán có thể xảy ra nhầm lẫn và sai sót.</li>
                 <li class="mb-1.5">Một việc cũng khá quan trọng đó là hàng ngày bạn phải cập nhật lượng hàng còn lại trong kho, lượng hàng được xuất đi và lượng hàng nhập về, nếu chi tiết hơn sẽ được kiểm soát vào đầu và cuối ngày, như thế sẽ gây tốn kém nhân lực và thời gian cho Shop.</li>
             </ul>
             <h3 class="text-2xl font-normal mt-6 pb-3" id="uudiembanhang">2. Ưu điểm bán hàng qua app với mô hình CTV</h3>
             <ul class="text-xl list-disc px-10">
                 <li class="mb-1.5">So với việc vào website để đăng nhập gõ địa chỉ, tìm sản phẩm, chờ hiển thị… thì việc dùng ứng dụng đã có sẵn để mua hàng sẽ thao tác nhanh hơn.</li>
                 <li class="mb-1.5">Khi Shop sở hữu một cái app riêng sẽ dễ dàng quản lý tất cả hệ thống CTV của mình vì nó sẽ được tích hợp đầy đủ chức năng phục vụ quá trình bán hàng.</li>
                 <li class="mb-1.5">Các CTV chỉ cần đăng hình ảnh sản phẩm và tìm kiếm khách hàng thông qua các kênh mạng xã hội và sau đó tiến hành lên đơn trên app, quá trình tạo đơn chưa đến 1 phút, rất tiện lợi và tiết kiệm thời gian.</li>
                 <li class="mb-1.5">App tích hợp nhiều chức năng giúp giảm thời gian ghi chép, ghi chú, tránh trường hợp Shop và CTV trao đổi liên tục qua điện thoại, tin nhắn.</li>
                 <li class="mb-1.5">Khi có app riêng thì Shop sẽ dễ dàng trưng bày, phân phối được nhiều sản phẩm theo ý muốn, thu hút khách hàng và CTV tham gia, tạo được sự cạnh tranh trên thị trường.</li>
                 <li class="mb-1.5">Hệ thống bán hàng chuyên nghiệp và hiện đại sẽ giữ được mạng lưới CTV của Shop, tạo điều kiện để Shop kết nối và mở rộng thêm. Ngoài ra còn giúp Shop dễ dàng quảng bá được thương hiệu, thu hút đông đảo CTV và khách hàng.</li>
             </ul>
             <p class="font-normal text-xl mt-6 mb-3">Để khắc phục được các khó khăn trên, và phấn đấu đạt được mức doanh thu cao hơn hiện tại, thì các Shop phải tìm ra được một phương pháp, công cụ kinh doanh hiệu quả trong thời gian sớm nhất.</p>
             <p class="font-normal text-xl mt-6 mb-3">Qua quá trình nghiên cứu, phân tích thị trường, chúng tôi đã đưa ra được một nền tảng - GENEAT SCN có các chức năng phục vụ cho việc bán hàng theo mạng lưới CTV và cam kết đem lại nhiều lợi ích thực tiễn, doanh thu tăng 300-500% cho Shop. Quý khách hàng có thể tìm hiểu kỹ hơn về nền tảng GENEAT SCN của chúng tôi ở các bài viết khác cùng chuyên mục.</p>
         </div>
       </div>
  </div> -->
<!-- end Content-fake -->
</section>