<section class="h-96 bg-no-repeat bg-cover bg-center" [ngClass]="{'hidden': !categoryOfPost.title }"
[ngStyle]="{'background-image': 'url(' + categoryOfPost.cover+ ')'}" 
></section>
<section class="container mx-auto py-20"
[ngClass]="{'pt-10': categoryOfPost.title}"
>
    <h1 class="px-4 text-3xl md:text-4xl font-bold mt-2 mb-12 lg:mb-20" *ngIf="!categoryOfPost.title">Our Blog</h1>
    <h1 class="px-4 text-3xl md:text-4xl font-bold mt-2 text-indigo-500 mb-10" *ngIf="categoryOfPost.title">Category: {{categoryOfPost.title}}</h1>
    <div class="">
        <div [ngClass]="{'hidden': categoryOfPost.title }">
            <div class="bg-gray-100 rounded-md">
                <ul class="flex items-center text-sm font-normal text-gray-700 py-3.5 px-4">
                    <li class="mr-5 relative before:content-['/'] before:absolute before:-right-3 before:text-black  before:text-sm">
                        <a routerLink="/" class="text-sm font-bold text-indigo-500 hover:text-indigo-500">Home</a>
                    </li>
                    <li class="mr-5 relative ">
                        <span class="text-sm font-normal text-gray-500">Blog</span>
                    </li>
                    <li class="mr-5" *ngIf="categoryOfPost.title">{{categoryOfPost.title}}</li>
                </ul>
            </div>
        </div>
        <div [ngClass]="{'hidden': !categoryOfPost.title }">
            <div class="bg-gray-100 rounded-md">
                <ul class="flex items-center text-sm font-normal text-gray-700 py-3.5 px-4">
                    <li class="mr-5 relative before:content-['/'] before:absolute before:-right-3 before:text-black  before:text-sm">
                        <a routerLink="/" class="text-sm font-bold text-indigo-500 hover:text-indigo-500">Home</a>
                    </li>
                    <li class="mr-5 relative before:content-['/'] before:absolute before:-right-3 before:text-black  before:text-sm">
                        <a routerLink="/blog" class="text-sm font-bold text-indigo-500 hover:text-indigo-500">Blog</a>
                    </li>
                    <li class="mr-5">{{categoryOfPost.title}}</li>
                </ul>
            </div>
        </div> 
        
    <div class="mt-5 px-4 flex flex-wrap lg:flex-nowrap">
       <div class="w-full lg:w-2/3">
       <div class="border-b border-gray-200">
           <a 
           [routerLink]="['/blog',item.category && item.category?.slug || categoryOfPost.slug,
           item.translations && item.translations[0].slug ||  item.slug ]" 
           class="flex shadow rounded-sm mb-8 hover:-translate-y-1 duration-300 transition-transform flex-wrap"
            *ngFor="let item of listBlogEvent.content">
             <div class="w-full lg:w-1/3 flex items-center">
                <img [src]="item?.thumbnailUrl || 'assets/images/blog/loi-ich-cua-ban-hang-qua-app-thumb.jpg'"  alt="img" class="w-full h-48 rounded-md object-cover">
             </div>
           <div class="w-full lg:w-2/3 px-4 py-4">
               <a [routerLink]="['/blog',item.category && item.category?.slug || categoryOfPost.slug]" class="px-3 py-1 text-indigo-500
                hover:text-indigo-500 text-xs font-semibold uppercase
               bg-blue-300 rounded-xl hover:text-opacity-90">{{item.category && item.category.title || categoryOfPost.title}}</a>
              <div class="mt-3">
                  <h3 class="block text-indigo-500 hover:text-indigo-500 font-bold text-2xl leading-tight hover:text-opacity-90 lg:pr-12">
                      {{item.title}}</h3>
                  <p class="text-gray-500 text-xs tracking-tighter">{{formatDate(item.createdOnDate)}}</p>
              </div>
               <p class="text-base text-gray-600 mt-5">{{item.translations && item?.translations[0].summary || item.summary}}</p>
           </div>
       </a>
       </div>
          
           <!-- pagination -->
    <div class="mt-3 px-4 md:px-6 lg:px-7">
       <app-pagination
       [total]="listBlogEvent.totalElements"
       [pageSize]="listBlogEvent.size"
       [totalPages] ="listBlogEvent.totalPages"
       [pageIndex]="listBlogEvent.page"
       (pageIndexChange)="hanldNews({page: $event})"
       ></app-pagination>
    </div>
       </div>
       <div class="mt-3 md:mt-0 w-full lg:w-1/3 lg:pl-8">
           <!-- category -->
           <h2 class="pt-2 text-2xl font-medium">Category</h2>
           <div class="pt-3" *ngFor="let item of listBlogCategory">
               <a [routerLink]="['/blog',item.slug]" class="flex justify-between px-2 text-indigo-500 hover:text-indigo-500 mb-2">
                   <span>{{item.title}}</span>
                   <span class="text-gray-300">{{item.postList.length}}</span>
               </a>
           </div>
          <!-- popular tag -->
          <div class="mt-3">
           <h2 class="text-2xl font-medium mb-3">Popular Tag</h2>
            <a routerLink="/blog" class="bg-indigo-500 px-3 hover:text-white py-2 rounded text-xs text-white mr-3 mb-3 inline-block
            hover:text-opacity-30 transition hover:duration-75" *ngFor="let item of ['#C#','#MQTT']">
                <span class="relative inline-block">{{item}}<sup class="text-xs"> (6)</sup></span>
            </a>
          </div>
       </div>
    </div>

    </div>
   </section>