<header #scroll class="sticky transition duration-300 ease-in-out top-0 bg-white z-10">
    <div class="container mx-auto px-4">
      <nav class="flex justify-between py-2 lg:py-3 items-center">
        <a (click)="onScroll('home')" class="flex items-center">
          <img src="assets/images/gnt-logo.png" class="h-9 md:h-10" alt="logo"/>
          <h1 class="text-lg md:text-xl ml-1 md:ml-3">
            <span class="text-red-500 font-black font-inter inline-block pr-1">GENEAT</span>
            <span class="text-indigo-600 text-opacity-90 font-bold tracking-normal">SOFTWARE</span>
          </h1>
        </a>
        <ul class="hidden lg:flex justify-between text-sm font-semibold space-x-12">
          <li class="hover:opacity-80" *ngFor="let item of listHeader">
            <a [routerLink]="item.link" class="py-3 text-indigo-500 hover:text-indigo-500" *ngIf="item.link.length > 0">{{item.title}}</a>
            <span class="py-3 text-indigo-500 hover:text-indigo-500 cursor-pointer" (click)="onScroll(item.linkID)" *ngIf="item.linkID.length > 0">{{item.title}}</span>
          </li>
        </ul>
        <button id="btn-toogle" class="lg:hidden border border-[#BFDBFE] rounded hover:bg-blue-300" (click)= "toogle()">
          <i class="las la-lg la-bars py-2 px-3"></i>
        </button>
      </nav>
    </div>
  </header>
  <div
    id="overlay"
    class="fixed top-0 bottom-0 bg-gray-400 z-30 bg-opacity-80 transition-all duration-300 ease-out"
    [ngClass]="toggleNavMobile ? 'block left-0 right-0' : '-left-full right-full'"
    (click)= "toogle()">
</div>
<nav id="navb" class="p-7 pl-6 fixed  flex flex-col left-0 top-0 bottom-0 bg-white z-40 
transition-all duration-300 ease-out sm:overflow-y-scroll" 
[ngClass]="toggleNavMobile ? 'left-0' : '-left-full'">
  <div>
    <span (click)="onScroll('home');toogle()" class="flex items-center  mb-9 mr-9 md:mr-28">
      <img src="assets/images/gnt-logo.png" class="h-10" alt="logo"/>
      <h1 class="text-base ml-3 font-semibold">
        <span class="text-red-500 mr-1">GENEAT</span>
        <span class="text-violet-900 opacity-90">SOFTWARE</span>
      </h1>
    </span>
    <ul class="font-light text-sm">
      <li
        class="rounded-xl hover:bg-blue-50 hover:text-indigo-900 opacity-100" *ngFor="let item of listHeader">
        <a [routerLink]="item.link" class="tracking-wide text-indigo-500  block px-4 py-4 hover:text-indigo-400" *ngIf="item.link.length > 0" (click)= "toogle()">{{item.title}}</a>
        <span class="tracking-wide text-indigo-500  block px-4 py-5 cursor-pointer hover:text-indigo-400" (click)="onScroll(item.linkID);toogle()" *ngIf="item.linkID.length > 0">{{item.title}}</span>
      </li>
    </ul>
  </div>
    <div class="mt-auto my-4 text-xs ">
      <span class="text-xs mr-1 tracking-tight">©  2022. All rights reserved.</span>
  </div>
  
</nav>

  <!-- Nav mobile -->
 
  <!-- end nav mobile -->