<section class="bg-white pt-20 pb-12 container mx-auto px-4">
  <div class="text-center max-w-2xl mx-auto md:px-20">
    <h3 class="text-red-500 text-base font-semibold mb-3 uppercase">WHAT WE DO</h3>
    <h2 class="text-indigo-600 text-opacity-90 font-black text-3xl md:text-4xl mb-2 leading-10 font-inter"> Mobile Development
    </h2>
    <p class="font-normal text-gray-600 text-base mb-2.5 leading-loose ld:leading-relaxed">Mobile Development</p>
  </div>
    <app-service-carousel></app-service-carousel>
  </section>
  <!-- We Consultant to Get Our Business Plan -->
<section class="bg-[url('assets/images/service/background.png')]
 bg-no-repeat lg:bg-contain bg-top py-20">
 <div class="container mx-auto px-2 md:px-6">
    <div class="text-center max-w-xl mx-auto md:px-7">
        <h2 class="text-indigo-600 text-opacity-90 font-black text-3xl md:text-4xl mt-3 mb-2 leading-10 font-inter md:px-8">
        We Consultant to Get Our Business Plan
        </h2>
        <p class="font-normal text-gray-700 text-base leading-loose ld:leading-relaxed">
            Business solution company sit our any how site used the our company any site us it-solve theme is very professional
        </p>
      </div>
      <div class="flex flex-wrap -mx-3 mt-12">
          <div class="w-full md:w-1/2 lg:w-1/4 lg:px-3 px-5 mb-6" *ngFor="let item of listBusinessPlan">
             <div class="bg-white shadow-md text-center px-5 py-8 rounded hover:shadow-xl border border-gray-100 transition duration-500 hover:-translate-y-1"> 
                <div class="text-indigo-500">
                    <i [class]="item.iconClass"></i>
                  </div>
                  <div class="mt-4">
                      <h2 class="text-2xl font-bold mb-2.5">{{item.title}}</h2>
                      <p class="text-sm text-gray-600 tracking-tight">{{item.content}}</p>
                  </div>
             </div>
          </div>
      </div>
 </div>
</section>
<section class="container mx-auto pt-28 pb-10 lg:pb-20 px-6">
  <div class="flex flex-wrap lg:flex-nowrap">
    <div class="w-full lg:w-1/2 border-b pb-14 mb-14 lg:pb-0 lg:mb-0 lg:border-0">
      <h2 class="text-indigo-600 text-opacity-90 font-black text-3xl lg:text-4xl mb-2 leading-10 font-inter max-w-md mt-3">
        Great Things In Business Are Never Done By One Person.
      </h2>
      <p class="mt-4 leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.</p>
      <p class="mt-4 leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.</p>
    </div>
    <div class="w-full lg:w-1/2 lg:pl-8">
       <div class="flex mb-16">
     <div class="mr-8">
       <span class="flex w-16 h-16 rounded-full bg-blue-300 justify-center items-center text-2xl font-bold text-indigo-500">1</span>
     </div>
        <div class="pt-4">
            <h3 class="text-xl font-bold mb-6">Project Initialization</h3>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
        </div>
       </div>
       <div class="flex mb-16">
        <div class="mr-8">
          <span class="flex w-16 h-16 rounded-full bg-blue-300 justify-center items-center text-2xl font-bold text-indigo-500">2</span>
        </div>
           <div class="pt-4">
               <h3 class="text-xl font-bold mb-6">Looking for Creative</h3>
               <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
           </div>
          </div>
        <div class="flex">
          <div class="mr-8">
            <span class="w-16 h-16 rounded-full bg-blue-300 flex justify-center items-center text-2xl font-bold text-indigo-500">3</span>
          </div>
              <div class="pt-4">
                  <h3 class="text-xl font-bold mb-6">Market Development</h3>
                  <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
              </div>
            </div>
    </div>
 </div>
</section>
<section class="bg-[url('assets/images/service/background.png')] bg-no-repeat bg:center lg:bg-contain py-20 bg-top">
 <div class="container mx-auto px-6">
    <div class="text-center max-w-xl mx-auto mt-3">
        <h2 class="text-indigo-600 text-opacity-90 font-black text-4xl mb-2 leading-10 font-inter">
        Start saving time today and choose your best plan
        </h2>
        <p class="font-normal text-gray-600 text-lg mb-2.5 leading-relaxed lg:px-24">
          Best for freelance developers who need to save their time
        </p>
      </div>
     <div class="flex flex-wrap mt-16 -mx-3">
       <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-6 hover:-translate-y-1 duration-300">
       <div class="bg-white shadow flex flex-col pt-16 pb-4 px-4 rounded">
        <div class="flex flex-col items-center">
          <img src="assets/images/service/startup.png" alt="anh" class="w-20">
          <h3 class="font-bold text-4xl mt-6">Startup</h3>
          <span class="text-indigo-500 mt-3 text-4xl font-bold">$45.99</span>
          <p class="text-base mt-3 text-gray-600">user per month</p>
        </div>
        <div class="mt-6 mb-6 flex flex-col items-center">
        <div>
          <p class="text-base mt-4" *ngFor="let item of ['3 Email','1 Datebases','Unlimited Domains','10 GB Storage']"
          ><i class="las la-check-circle text-green-800 mr-1.5 la-lg"></i> <span>{{item}}</span></p>
        </div>
        </div>
        <div class="flex flex-col justify-center md:flex-row">
          <a href="#" class="hover:text-gray-500 duration-[0ms] hover:bg-blue-800 md:mr-4 block md:inline-block text-xs font-bold bg-blue-700  px-6 rounded text-center py-3 text-white mb-4">Start Free Trial</a>
          <a href="#" class="hover:text-gray-500 duration-[0ms] md:mr-4 block md:inline-block text-xs font-bold bg-white border px-6 rounded text-center py-3 text-indigo-500 mb-4">Purchase</a>
        </div>
        </div>
       </div>
       <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-6 hover:-translate-y-1 duration-300">
        <div class="bg-blue-700 text-white shadow flex flex-col pt-16 pb-4 px-4 rounded">
         <div class="flex flex-col items-center">
           <img src="assets/images/service/agency.png" alt="anh" class="w-20">
           <h3 class="font-bold text-4xl mt-6 text-white">Agency</h3>
           <span class="mt-3 text-4xl font-bold">$65.99</span>
           <p class="text-base mt-3 text-gray-600">user per month</p>
         </div>
         <div class="mt-6 mb-6 flex flex-col items-center">
         <div>
           <p class="text-base mt-4"
           *ngFor="let item of ['6 Email','4 Datebases','Unlimited Domains','35 GB Storage']"
           ><i class="las la-check-circle mr-1.5 la-lg text-white"></i> <span>{{item}}</span></p>
         </div>
         </div>
         <div class="flex flex-col justify-center md:flex-row">
           <a href="#" class="text-xs font-bold hover:text-gray-500 bg-white md:mr-4 block md:inline-block px-6 rounded text-center py-3 text-indigo-600 mb-4">Start Free Trial</a>
           <a href="#" class="md:mr-4 block md:inline-block text-xs font-bold px-6 rounded text-center py-3 text-indigo-500 mb-4
           hover:text-gray-500 border border-transparent hover:border-blue-600">Purchase</a>
         </div>
         </div>
        </div>
        <div class="w-full lg:w-1/3 px-3 mb-6 hover:-translate-y-1 duration-300">
          <div class="bg-white shadow flex flex-col pt-16 pb-4 px-4 rounded">
           <div class="flex flex-col items-center">
             <img src="assets/images/service/enterprise.png" alt="anh" class="w-20">
             <h3 class="font-bold text-4xl mt-6">Enterprise</h3>
             <span class="text-indigo-500 mt-3 text-4xl font-bold">$85.99</span>
             <p class="text-base mt-3 text-gray-600">user per month</p>
           </div>
           <div class="mt-6 mb-6 flex flex-col items-center">
           <div>
             <p class="text-base mt-4"
             *ngFor="let item of ['12 Email','8 Datebases','Unlimited Domains','50 GB Storage']"
             ><i class="las la-check-circle text-green-800 mr-1.5 la-lg"></i> <span>{{item}}</span></p>
           </div>
           </div>
           <div class="flex flex-col justify-center md:flex-row">
             <a href="#" class="hover:text-gray-500 hover:duration-0 hover:bg-blue-800 md:mr-4 block md:inline-block text-xs font-bold bg-blue-700  px-6 rounded text-center py-3 text-white mb-4">Start Free Trial</a>
             <a href="#" class="hover:text-gray-500 hover:duration-0 md:mr-4 block md:inline-block text-xs font-bold bg-white border px-6 rounded text-center py-3 text-indigo-500 mb-4">Purchase</a>
           </div>
           </div>
          </div>
     </div>
 </div>
</section>
<section class="container mx-auto px-6">
 <div class="flex">
   <div class="flex-1 pr-4 lg:pr-36 pt-20 pl-4 pb-10">
      <h3 class="text-4xl text-indigo-500 font-black font-inter">Faqs</h3>
      <div class="mt-11">
        <div class="mb-7" *ngFor="let item of [1,2,3,4]">
          <span class="text-base font-bold block pb-3 border-b">What is the general cost of an energy rating?</span>
          <p class="text-sm mt-2 text-gray-700"> Depended on the size of the extension you are building there is a chance that it too will need to be energy rated. It's always best to check first before going ahead with construction.</p>
        </div>
      </div>
   </div>
   <div class="hidden lg:flex w-1/3  bg-blue-700  items-center">
      <img src="assets/images/service/faqs.png" alt="faqs" class="max-w-lg">
   </div>

 </div>
</section>