<section class="bg-white pt-20 pb-12 container mx-auto px-6">
  <div class="pb-20">
    <div class="text-center max-w-2xl mx-auto md:px-20">
      <h3 class="text-red-500 text-base font-semibold mb-3 uppercase">WHAT WE DO</h3>
      <h2 class="text-indigo-600 text-opacity-90 font-black text-3xl md:text-4xl mb-2 leading-10 font-inter"> Mobile Development
      </h2>
      <p class="font-normal text-gray-600 text-base mb-2.5 leading-loose ld:leading-relaxed">Mobile Development</p>
    </div>
    <app-service-carousel></app-service-carousel>
  </div>
  <div class="">
    <div class="bg-gray-100 rounded-md">
      <ul class="flex items-center text-sm font-normal text-gray-700 py-3.5 px-4">
          <li class="mr-5 relative before:content-['/'] before:absolute before:-right-3 before:text-black  before:text-sm">
       <a routerLink="/" class="text-sm font-bold text-indigo-500 hover:text-indigo-500">Home</a>
       </li>
       <li class="mr-6 relative">Blog</li>
      </ul>
  </div>
    <div class="text-lg font-bold lg:pl-52 mt-5">Mobile Development</div>
  </div>
   </section>