<section class="py-12 md:py-20">
  <div class="container px-14 mx-auto">
    <div class="text-center mx-auto max-w-3xl">
      <span class="bg-blue-400 py-[5px] px-3 rounded-full text-indigo-500 text-xs font-bold">Our Projects</span>
    <h2 class="mt-2 font-bolder text-4xl mb-5 font-semibold ">Check Out<br>Our <span class="text-indigo-500">Latest</span> Project</h2>
    <p class="leading-loose text-gray-600 tracking-tight">We are always proud to share the projects we have worked on, and we would gladly invite you to contact us for further information. All of our projects are equally important to us, no matter how big or small projects are. It is about delivering quality projects by our committed team. When a client reports being satisfied and happy with the work we have done it is because we exceeded expectations and we have our jobs well. This is our aim for every assignment we complete. Our co</p>
    </div>
    <nav class="block text-sm text-left text-gray-600 bg-gray-500 bg-opacity-10 h-12 mx-auto mt-12 items-center p-4 rounded-md ">
      <ol class="list-reset flex">
        <li >
          <a href="/ " class="font-bold inline-block  text-indigo-500 hover:text-indigo-600 ">Home</a>
        </li>
        <li class="mx-2">/</li>
        <li>Portfolio</li>
      </ol>
    </nav>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8 mb-10">
      <div *ngFor="let item of postList" class="bg-white border rounded-md  border-gray-10 p-3 max-w-sm overflow-hidden
       shadow hover:shadow-lg transition-shadow hover:duration-300">
        <a [routerLink]="['/portfolio', item.slug]">
           <img [src]="item.thumbnailUrl" alt="img" class="w-full rounded-lg object-cover">
           <h1 class="text-xl font-bold text-indigo-600 md:h-14 mt-4 truncate-2" 
           nz-tooltip nzTooltipTitle="{{item.title}}" >{{item.title}}</h1>
        <p class="mt-2 text-gray-500 truncate-3" placement="topLeft" nz-tooltip nzTooltipTitle="{{item.summary}}">{{item.summary}}</p>
         </a>
        </div>
    </div>
</div>
</section>
