<app-header></app-header>
<main>
  <router-outlet>
      
  </router-outlet>
</main>
<app-footer></app-footer>
<div class="fixed bottom-8 right-8 bg-blue-500 px-3 py-2 z-20 rounded-md cursor-pointer hidden" id="to-top" (click)="scrollToTop()">
  <i class="las la-arrow-up text-white"></i>
</div>
